@model IEnumerable<DataLayer.PageComment>


@foreach (var item in Model)
{
    <!-- start each comment -->
    <li>
        <img src="/Content/img/thumb.png">
        <div>
            <span> @item.Name </span>
            <span> @item.CreatDate.ToShamsi() </span>
        </div>
        <p>
            @item.Comment
        </p>
    </li>
    <!-- end each comment -->
}